#m3 {
  display: flex;
  background-color: #ecf0f1;
}

h1 {
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 8px 13px;
  font-size: 15px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.btn1,
.btn2,
.btn3 {
  color: #2d3a3f;
}
.btn1:hover,
.btn2:hover,
.btn3:hover {
  color: #ffffff;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(41, 53, 61);
  z-index: -1;
  transition: 0.6s;
}
.btn1::before,
.btn2::before,
.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn1:hover::before,
.btn2:hover::before,
.btn3:hover::before {
  height: 190%;
}
.l1 {
  background-color: #3498db;
  text-align: center;
  color: white;
  margin-bottom: -5px;
  margin: 10px;
  border-radius: 6px;
  display: grid;
}

#k1 {
  font-size: 30px;
}
#k2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  height: 490px;
}
#k4 {
  text-align: center;
}
.l7 {
  border-radius: 8px;
}
.l7 {
  color: rgba(26, 22, 22, 0.932);
  text-decoration: underline 3px;
  font-size: 30px;
  padding-top: 5px;
}
#p1 {
  color: rgb(70, 61, 61);
}
#t6 {
  text-align: center;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.74);
  padding: 15px 30px;
  font-size: 30px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
}
.m7 {
  text-align: center;
  background-color: #f0f8ff;
  margin-bottom: 10px;
  margin: 10px;
  border-radius: 8px;
}
.mo09 {
  border-radius: 8px;
}
.ln7 {
  border-radius: 8px;
}
.l009 {
  border-radius: 8px;
}
#p9 {
  text-align: center;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.74);
  padding: 10px 35px;
  font-size: 30px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 5px;
}
.btn4:hover,
.btn5:hover {
  color: #3527f7;
}
#u1 {
  margin-bottom: 10px;
  margin: 10px;
  background-color: aqua;
}
#kl0 {
  font-size: 30px;
}
#kl00 {
  text-align: center;
}
#kl70 {
  font-size: -10px;

 
}
html {
  margin: 0;
}
#kl71 {
  background-color: rgba(216, 205, 192, 0.877);
  margin-bottom: 5px;
  margin: 10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

  text-align: center;
}
body {
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  justify-items: stretch;
}
main {
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.k007 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no1 {
  text-align: center;
  display: flex;
  min-height: 10vh;
  color: #020101;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.no1 .fir-text {
  font-size: 40px;
}
.sec-text li {
  position: relative;
  top: 0;
  font-size: 40px;
  color: rgb(27, 78, 82);
  list-style: none;
  padding: 0 20px;
  text-shadow: 0 0 10px rgb(43, 224, 113);
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
@keyframes colorful {
  100% {
    filter: hue-rotate(360deg);
  }
}

.sec-text li span {
  position: relative;
}
.no1 .sec-text {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.sec-text li span::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 80px;
  background: #ecf0f1;

  border-left: 1px solid #0ef;
  left: 0;
  animation: typing 1.5s steps(10) infinite alternate;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
#u1 {
  border-radius: 8px;
}
#kl79 {
  text-align: center;
  padding: 5px;
}
@media (max-width: 477px){
  html{
    margin-right: -100px;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  #kl70 {
    font-size: 28px;
    margin-bottom: 2px;
}

  #header{
    display: flex;
  }
  .btn {
    border: 2px solid #2b343a;
    background: none;
    padding: 7px 12px;
    font-size: 15px;
    font-family: "monsterrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }

}
@media screen and  (max-width: 400px) {
  html {
    margin-right: -160px;
}
#kl71 {
  background-color: rgba(216, 205, 192, 0.877);
  margin-bottom: 5px;
  margin: 10px;
}

body {
  flex-direction: column;
  max-width: 1440px;
  margin-right: -200px;
  height: 100vh;
  justify-items: stretch;
}

}

@media screen and  (max-width: 900px) {
  #k2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
   
    height: 590px;
}
.l1 {
  background-color: #3498db;
  font-size: 22px;
}
#kl70{
  font-size: 20px;
}
  
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 8px 14px;
  font-size: 18px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
 
}


#kl70{
  font-size: 40px;
}

@media screen and (max-width: 700px) {
  .header{
    display: flex;
    justify-content: space-between;
  }
  
  
  #k2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    height: 490px;
}
#header{
  display: flex;
}
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 6px 10px;
  font-size: 18px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

  #kl70 {
   
    margin-right: 200px;
    
   
  }

  h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
 

  #kl70 {
    justify-content: space-around;

  }
  header {
    margin: auto;
  }

  #k1 {
    font-size: 20px;
  }
  #k10 {
    font-size: 15px;
  }
  .r1 {
    height: auto;
  }
  #K2 {
    height: 200px;
    width: 100px;
  }
  footer {
    margin: auto;
    padding: auto;
  }
  #t6 {
    text-align: center;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.74);
    padding: 10px 20px;
    font-size: 20px;
    font-family: "monsterrat";
    cursor: pointer;
    margin: 7px;
  }
  #p9 {
    text-align: center;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.74);
    padding: 10px 28px;
    font-size: 20px;
    font-family: "monsterrat";
    cursor: pointer;
    margin: 7px;
  }
  .no1 .fir-text {
    font-size: 30px;
  }
  .sec-text li {
    font-size: 30px;
  }
  .no1 {
    margin-top: 10px;
  }
  .sec-text li span::before {
    content: "";
    position: absolute;
    width: 340px;
    height: 70px;
  }
  #p1 {
    font-size: 25px;
  }
  #u1 {
    font-size: 25px;
  }
  .l1 {
    margin-top: 9px;
    padding: 3px;
  }
  html {
    margin-right: -90px;
  }
}
@media  (max-width: 600px) {
  .btn {
    border: 2px solid #2b343a;
    background: none;
    padding: 5px 9px;
    font-size: 18px;
    font-family: "monsterrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
#kl71 {
  background-color: rgba(216, 205, 192, 0.877);
  margin-bottom: 5px;
  margin: 10px;
  
 
}
body {
  flex-direction: column;
  max-width: 1440px;
  margin-right: -200px;
  height: 100vh;
  justify-items: stretch;
}
html {
  margin: 1px;
}

}
/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

#num8 {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: none;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}
