@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#m3 {
  display: flex;
  background-color: #ecf0f1;
}

h1 {
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 8px 13px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.btn1,
.btn2,
.btn3,
.btn5,
.btn4 {
  color: #2d3a3f;
}
.btn1:hover,
.btn2:hover,
.btn3:hover{
  color: #ffffff;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(41, 53, 61);
  z-index: -1;
  transition: 0.6s;
}
.btn1::before,
.btn2::before,
.btn3::before,
.btn5::before,
.btn4::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn1:hover::before,
.btn2:hover::before,
.btn3:hover::before {
  height: 190%;
}
.l1 {
  background-color: #3498db;
  text-align: center;
  color: white;
  margin-bottom: -5px;
  margin: 10px;
  border-radius: 6px;
  display: grid;
}
.btn5:hover::before,
.btn4:hover::before {
  height: 190%;
}
.btn5:hover,
.btn4:hover {
  color: #3dff57;
}
#k1 {
  font-size: 30px;
}
#k2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  height: 490px;
}
#k4 {
  text-align: center;
}
.l7 {
  border-radius: 8px;
}
.l7 {
  color: rgba(26, 22, 22, 0.932);
  text-decoration: underline 3px;
  font-size: 30px;
  padding-top: 5px;
}
#p1 {
  color: rgb(70, 61, 61);
}
#t6 {
  text-align: center;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.74);
  padding: 15px 30px;
  font-size: 30px;
  font-family:'Poppins', sans-serif;
  cursor: pointer;
  margin: 10px;
   
   
  
 
   

}
.m7 {
  text-align: center;
  background-color: #f0f8ff;
  margin-bottom: 10px;
  margin: 10px;
  border-radius: 8px;
}
.mo09 {
  border-radius: 8px;
}
.ln7 {
  border-radius: 8px;
}
.l009 {
  border-radius: 8px;
}
#p9 {
  text-align: center;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.74);
  padding: 10px 35px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin: 5px;
}

#u1 {
  margin-bottom: 10px;
  margin: 10px;
  background-color: aqua;
}
#kl0 {
  font-size: 30px;
}
#kl00 {
  text-align: center;
}


#kl71 {
  background-color: rgba(216, 205, 192, 0.877);
  margin-bottom: 5px;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;

  text-align: center;
}
body {
  flex-direction: column;
 
  height: 100vh;
  
}
main {
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.k007 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no1 {
  text-align: center;
  display: flex;
  min-height: 10vh;
  color: #020101;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.no1 .fir-text {
  font-size: 40px;
}
.sec-text li {
  position: relative;
  top: 0;
  font-size: 40px;
  color: rgb(27, 78, 82);
  list-style: none;
  padding: 0 20px;
  text-shadow: 0 0 10px rgb(43, 224, 113);
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
@keyframes colorful {
  100% {
    filter: hue-rotate(360deg);
  }
}

.sec-text li span {
  position: relative;
}
.no1 .sec-text {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.sec-text li span::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 80px;
  background: #ecf0f1;

  border-left: 1px solid #0ef;
  left: 0;
  animation: typing 1.5s steps(10) infinite alternate;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
#u1 {
  border-radius: 8px;
}
#kl79 {
  text-align: center;
  padding: 5px;
}



@media screen and (min-width: 320px){
  #k2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    height: 300px;
}
 
.header {
  display: flex;
  
}


 
#kl70 {
  font-size: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 13px 16px;
  font-size: 15px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 8px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #kl70 {
    font-size: 30px;
}
.inf1 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.inf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.m7 {
  margin: 30px;
  text-align: center;
  background-color: rgb(240, 248, 255);
  margin: 14px;
  border-radius: 8px;
  padding: 35px;
}
#u1 {
font-size: 30px;

 
  margin: 10px;
  background-color: aqua;

}
#m3{
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
#p9 {
 
  padding: 15px 25px;
  font-size: 23px;
 
}

.no1 .fir-text {
  font-size: 30px;
}
.sec-text li {
  position: relative;
  top: 0;
  font-size: 30px;
  color: rgb(27, 78, 82);
  list-style: none;
  padding: 0 20px;
  text-shadow: 0 0 10px rgb(43, 224, 113);
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}
#t6 {
 
  padding: 15px 25px;
  font-size: 23px;

}


}

@media screen and (min-width: 420px){
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 8px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #k2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 500px;
    height: 400px;
}
  body {
    flex-direction: column;
 
    height: 100vh;
 
}
 
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}


#header {
  display: flex;
  
  
}
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 13px 16px;
  font-size: 15px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
  #kl70 {
    font-size: 30px;
}
.inf1 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}
.inf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.m7 {
  margin: 30px;
  text-align: center;
  background-color: rgb(240, 248, 255);
  margin: 14px;
  border-radius: 8px;
  padding: 35px;
}
#u1 {
font-size: 30px;

 
  margin: 10px;
  background-color: aqua;

}
#m3{
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
#p9 {
 
  padding: 15px 25px;
  font-size: 23px;
 
}

.no1 .fir-text {
  font-size: 30px;
}
.sec-text li {
  position: relative;
  top: 0;
  font-size: 30px;
  color: rgb(27, 78, 82);
  list-style: none;
  padding: 0 20px;
  text-shadow: 0 0 10px rgb(43, 224, 113);
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}
#t6 {
 
  padding: 15px 25px;
  font-size: 23px;

}
}
@media screen and (min-width: 520px){
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 9px;
    width: 55px;
    height: 55px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #kl70 {
    font-size: 30px;
}
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 11px 12px;
  font-size: 15px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.inf1 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}
.m7 {
  margin: 30px;
  text-align: center;
  background-color: rgb(240, 248, 255);
  margin: 14px;
  border-radius: 8px;
  padding: 35px;
}
#u1 {
font-size: 30px;

 
  margin: 10px;
  background-color: aqua;

}
#m3{
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
#p9 {
 
  padding: 15px 25px;
  font-size: 23px;
 
}
#k2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  height: 480px;
}
.no1 .fir-text {
  font-size: 30px;
}
.sec-text li {
  position: relative;
  top: 0;
  font-size: 30px;
  color: rgb(27, 78, 82);
  list-style: none;
  padding: 0 20px;
  text-shadow: 0 0 10px rgb(43, 224, 113);
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}
#t6 {
 
  padding: 15px 25px;
  font-size: 23px;

}
}
@media screen and  (min-width: 620px) {
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 9px;
    width: 55px;
    height: 55px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #kl70 {
    font-size: 30px;
}
  .inf1 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
  }
  .m7 {
    margin: 30px;
    text-align: center;
    background-color: rgb(240, 248, 255);
    margin: 14px;
    border-radius: 8px;
    padding: 35px;
}
#u1 {
  font-size: 30px;
  
   
    margin: 10px;
    background-color: aqua;

}
  #m3{
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
  #p9 {
   
    padding: 15px 25px;
    font-size: 23px;
   
}
  #t6 {
   
    padding: 15px 25px;
    font-size: 23px;
  
}
  #header {
    display: flex;
    margin-left: -43px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

  .btn {
    border: 2px solid #2b343a;
    background: none;
    padding: 12px 17px;
    font-size: 18px;
    font-family: "monsterrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
#k2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  height: 480px;
}
#kl71 {
  background-color: rgba(216, 205, 192, 0.877);
  margin-bottom: 5px;
  margin: 10px;
  
 
}



}
@media screen and (min-width: 720px) {
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 8px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #kl70 {
    font-size: 30px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
  
  
  #k2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    height: 490px;
}
#header{
  display: flex;
}
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 12px 10px;
  font-size: 18px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

  


  h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
 

  
  

  #k1 {
    font-size: 20px;
  }
  #k10 {
    font-size: 15px;
  }
  .r1 {
    height: auto;
  }
  #K2 {
    height: 200px;
    width: 100px;
  }
  footer {
    margin: auto;
    padding: auto;
  }
  
  .no1 .fir-text {
    font-size: 30px;
  }
  .sec-text li {
    font-size: 30px;
  }
  .no1 {
    margin-top: 10px;
  }
  .sec-text li span::before {
    content: "";
    position: absolute;
    width: 340px;
    height: 70px;
  }
  #p1 {
    font-size: 25px;
  }
  #u1 {
    font-size: 25px;
  }
  .l1 {
    margin-top: 9px;
    padding: 3px;
  }
  .inf1 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
  }
  #p9 {
  
    padding: 19px 25px;
    font-size: 24px;
   
  }
  #t6 {
  padding: 18px 30px;
  font-size: 24px;
  }

}

@media screen and  (min-width: 820px) {
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #kl70 {
    font-size: 40px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
#header {
  display: flex;
  margin-left: -43px;
}
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 13px 10px;
  font-size: 18px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.inf1 {
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}
#p9 {
  
  padding: 19px 25px;
  font-size: 24px;
 
}
#t6 {
padding: 18px 30px;
font-size: 24px;
}
#p1 {
  font-size: 30px;
}
#u1 {
  font-size: 30px;
}
}

@media screen and  (min-width: 920px) {
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #kl70 {
    font-size: 40px;
}
  #u1 {
    font-size: 30px;
}
  #p1 {
    font-size: 30px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
#k2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 550px;
}
#header {
  display: flex;
  margin-left: -43px;
}
  #p9 {
  
    padding: 19px 25px;
    font-size: 24px;
   
}
#t6 {
  padding: 18px 30px;
  font-size: 24px;
}

  #num8 {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background: none;
}
.inf1 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.l1 {
  background-color: #3498db;
  font-size: 22px;
}
#kl70{
  font-size: 20px;
}
  
.btn {
  border: 2px solid #2b343a;
  background: none;
  padding: 15px 14px;
  font-size: 18px;
  font-family: "monsterrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
 
}




@media screen and (min-width: 1020px){
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  #kl70 {
    font-size: 40px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
#k2 {
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  height: 490px;
  justify-content: center;
  align-items: center;
}
#m3 {
  display: flex;
  justify-content: space-between;
}

}
/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

#num8 {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: none;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}



.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}